<header class="l-header v-center-parent">
  <img src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png" class="v-center" routerLink="home">
  <ul class="top-menu disable-link-styles">
    <li>
      <a 
        routerLink=""
        routerLinkActive="menu-active"
        [routerLinkActiveOptions]="{exact:true}">Home</a>
    </li>
    <li>
      <a
        routerLink="courses"
        routerLinkActive="menu-active">Courses</a>
    </li>
    <li>
      <a routerLink="">Login</a>
    </li>
    <li>
      <a routerLink="">Register</a>
    </li>
    <li>
      <a routerLink="">Logout</a>
    </li>
  </ul>
</header>